.plugin{
    width: 200px;
    height: 360px;
    float: left;
    text-align: center;
    background-color: #0E1425;
    border: #384361 2px solid;
    border-radius: 15px;
    margin: 25px;
    padding: 20px 30px;

    position: relative;
}

/* .plugin h3{
    margin: 20px;
} */

/* .plugin p{

} */

.plugin a{
    position: absolute;

    left: 0;
    right: 0;
    bottom: 20px;

}