header{
    background-color: rgba(0, 0, 0, 0);
}

/*====интро=====*/
.intro_image{
    width: 100%;
    height: 100vh;
    
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpixeljoint.com%2Ffiles%2Ficons%2Ffull%2Fdream__r1524364081.png&f=1&nofb=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;

}

h1{
    margin: 0;
    text-align: center;
    font-size: 72px;
}
h3{
    margin: 0;
    text-align: center;
    color:#07E3AB;
}


/*======GAMES=====*/
.games{
    width: 100%;
    min-height: 500px;
}

.game{
    width: 250px;
    min-height: 400px;
    margin: 10px 25px;
    display: inline-block;
    padding: 10px 5px;
    position: relative;

    
    background-color: #0E1425;
    background-position: 10% 10% ;
    background-size: cover;

    border: aliceblue 1px solid;
}

.inner_games{
    text-align: center
}

.download_game{
    position: absolute;

    left: 0;
    right: 0;
    width: 160px;

    margin: 0 auto;

    padding: 8px 0;
    font-size: 18px;
    min-height: 18px;
    background-color: #232b41;

    border: 1px lavender solid;
    
    bottom: 16px;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px #0E142570;

    transition-property: border, box-shadow, transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}
.download_game:hover{
    box-shadow: 0px 5px 5px #0e142570;
    transform: translateY(-5px);
    border: 1px #07E3AB solid;
}



/*======НОВОСТИ======*/
.news{
    text-align: center;
}
.big_news, .small_news{
    display: inline-block;
    margin: 20px 30px;
    position: relative;
    box-shadow:  10px 10px 10px #0E1425;
    font-size: 0px;
    border: aliceblue 1px solid;
}
.news_text{
    font-size: 14px;
    position: absolute;
    right: 0px;
    padding: 15px;
    text-align: left;
}

.news_text h3{
    font-size: 23px;
}

.news_image{
    position: absolute;
    left: 0px;
    top:0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border: aliceblue 1px solid;
}


.news_button{
    position: absolute;
    text-align: center;

    left: 0;
    right: 0;
    width: 160px;

    margin: 0 auto;

    padding: 8px 0;
    font-size: 18px;
    min-height: 18px;
    background-color: #232b41;

    border: 1px lavender solid;
    
    bottom: 16px;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px #0E1425;

    transition-property: border, box-shadow, transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}
.news_button:hover{
    box-shadow: 0px 5px 5px #0e1425;
    transform: translateY(-5px);
    border: 1px #07E3AB solid;
}


@media (min-width: 660px){

    /*BIG NEWS*/

    .big_news{
        width: 700px;
        height: 300px;
    }
    .big_news .news_image{
        display: inline-block;
        width: 298px;
        height: 298px;
    }
    .big_news .news_text{
        display: inline-block;
        width: 370px;
        height: 270px;
        top:0px
    }
    
    
    /*SMALL NEWS*/
    .small_news{
        width: 500px;
        height: 200px;
    }
    .small_news .news_image{
        display: inline-block;
        width: 198px;
        height: 198px;
    }
    .small_news .news_text{
        display: inline-block;
        width: 270px;
        height: 170px;
        top:0px
    }
}

@media (max-width: 660px){

    /*BIG NEWS*/
    
    .big_news{
        width: 300px;
        height: 700px;
    }
    .big_news .news_image{
        display: inline-block;
        width: 298px;
        height: 298px;
    }
    .big_news .news_text{
        display: inline-block;
        width: 270px;
        height: 370px;
        bottom: 0px;
    }
    
    
    /*SMALL NEWS*/
    .small_news{
        width: 300px;
        height: 500px;
    }

    .small_news .news_image{
        display: inline-block;
        width: 298px;
        height: 298px;
    }

    .small_news .news_text{
        display: inline-block;
        width: 270px;
        height: 170px;
        bottom: 0px;
    }
}



